.titel {
    margin: auto;
    padding: 15px;
    color: black;
    text-align: center;
}

.form-login {
    width: auto;
    max-width: 440px;
    margin: 80px auto;
    padding: 40px;
}

.form-registratie {
    width: auto;
    max-width: 440px;
    margin: 80px auto;
    padding: 40px;
}

.navbar, .navbar-right {
    background-color: #005cbf !important;
    font-size: 16px;
    border: 0px !important;
    margin: 0px !important;
    border-radius: 0px !important;
}

.navbar li a {
    color: white !important;
}

.navbar-nav li a:hover {
    text-decoration: underline !important;
}

.btn {
    background-color: #005cbf !important;
    border-radius: 0px !important;
}

.form-control {
    border-radius: 0px !important;
}

.row {
    margin: 0px !important;
}

.list-group-item {
    border-radius: 0px !important;
}

.square {
    height: 50px;
    width: 50px;
    background-color: #555;
}

.search-bar {
    margin-top: 20px;
    width: 100% !important;
}